<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template"
>
  <%- include("../../../partials/header") %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include("../../../partials/sideMenu") %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <%- include("../../../partials/nav") %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-12 col-12 mb-lg-0 mb-4">
                  <div class="card invoice-preview-card">
                    <div class="card-body">
                      <div class="row p-sm-3 p-0">
                        <div class="col-md-6 mb-md-0 mb-4">
                          <div class="d-flex svg-illustration">
                            <h4 class="app-brand demo text-body fw-bolder">
                              Course Details
                            </h4>
                          </div>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Title: <%= work.course.title %>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Code: <%= work.course.code %>
                          </h6>
                        </div>
                      </div>

                      <hr class="my-4 mx-n4" />

                      <div class="row p-sm-3 p-0">
                        <div class="col-md-6 mb-md-0 mb-4">
                          <div class="d-flex svg-illustration">
                            <h4 class="app-brand demo text-body fw-bolder">
                              Lecture Details
                            </h4>
                          </div>
                          <h6 class="app-brand demo text-body fw-bolder">
                            ID:
                            <b style="text-transform: uppercase">
                              <%= work.course.lecturer.username %></b
                            >
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Name: <%= work.course.lecturer.name %>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Email: <%= work.course.lecturer.email %>
                          </h6>
                        </div>
                      </div>
                      <hr class="my-4 mx-n4" />

                      <div class="row p-sm-3 p-0">
                        <div class="col-md-6 mb-md-0 mb-4">
                          <div class="d-flex svg-illustration">
                            <h4 class="app-brand demo text-body fw-bolder">
                              Student Details
                            </h4>
                          </div>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Username:
                            <b style="text-transform: uppercase">
                              <%= work.student.username %></b
                            >
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Name: <%= work.student.name %>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Email: <%= work.student.email %>
                          </h6>
                        </div>
                      </div>

                      <hr class="my-4 mx-n4" />

                      <div class="row p-sm-3 p-0">
                        <div class="col-md-6 mb-md-0 mb-4">
                          <div class="d-flex svg-illustration">
                            <h4 class="app-brand demo text-body fw-bolder">
                              Work Details
                            </h4>
                          </div>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Work Title: <%= work.fileTitle %>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Date Submitted: <%= locals.moment(work.createdAt) %>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            <div class="">
                              <a
                                href="/files/<%= work.file %>"
                                target="blank"
                                class="btn btn-primary"
                              >
                                View File
                              </a>
                            </div>
                          </h6>
                        </div>
                        <div
                          class="col-md-6 mb-md-0 mb-4 justify-content-md-end"
                        >
                          <div class="d-flex svg-illustration">
                            <h4 class="app-brand demo text-body fw-bolder">
                              Work Plagiarism Details
                            </h4>
                          </div>

                          <% if( work.course.unicheck.status == "Pending"){%>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Plagiarism Status:
                            <button
                              class="btn btn-sm btn-secondary ml-3"
                              style="margin-left: 1rem"
                            >
                              <b><%= work.course.unicheck.status %></b>
                            </button>
                          </h6>
                          <%}%> <% if( work.course.unicheck.status ==
                          "Checked"){%>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Plagiarism Percentage:
                            <button
                              class="btn btn-sm btn-success text-black ml-3"
                              style="margin-left: 1rem"
                            >
                              <b> <%= work.course.unicheck.status %></b>
                            </button>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Numbeer of Sources:
                            <button
                              class="btn btn-sm btn-success text-black ml-3"
                              style="margin-left: 1rem"
                            >
                              <b> <%= work.course.unicheck.percentage %></b>
                            </button>
                          </h6>
                          <h6 class="app-brand demo text-body fw-bolder">
                            Plagiarism Report:
                            <a
                              href="/files/exports/<%= work.course.unicheck.exportFile %>"
                              download=""
                              class="btn btn-sm btn-secondary text-black ml-3"
                              style="margin-left: 1rem"
                            >
                              <b>Download</b>
                            </a>
                          </h6>
                          <%}%>
                          <h6 class="app-brand demo text-body fw-bolder">
                            <div class="">
                              <% if( work.course.unicheck.status ==
                              "Pending"){%>
                              <a
                                onclick="return confirm('Do you want to proceed with the check?')"
                                href="/lecturer/initiate/file/<%= work.id %>"
                                class="btn btn-primary"
                              >
                                Initiate Plagiarism Detection
                              </a>
                              <%}%> <% if( work.course.unicheck.status ==
                              "Initiate"){%>
                              <a
                                onclick="return confirm('Do you want to proceed with the check?')"
                                href="/lecturer/check/file/<%= work.id %>"
                                class="btn btn-primary"
                              >
                                Check Plagiarism Status
                              </a>
                              <%}%>
                            </div>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <%- include("../../../partials/footer") %>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <%- include("../../../partials/script") %>
  </body>
</html>
