<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template"
>
  <%- include("../../../partials/header") %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include("../../../partials/sideMenu") %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <%- include("../../../partials/nav") %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="card">
                  <div class="card-header">
                    <h4 class="fw-bold">Add Lecturer</h4>
                  </div>
                  <div class="card-body">
                    <form method="post" action="/admin/add-lecturer">
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 col-form-label"
                          for="basic-icon-default-fullname"
                        >
                          Course
                        </label>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <select
                              id="multicol-country"
                              class="select2 form-select"
                              data-allow-clear="true"
                              name="course"
                            >
                              <option value="">Select Course</option>
                              <% if(locals.courses){%> <%
                              courses.forEach(function(course) { %>
                              <option value="<%= course.id %>">
                                <%= course.title %> (<%= course.code %>)
                              </option>
                              <%})%> <%}%>
                            </select>
                          </div>
                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].course) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].course.msg %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 col-form-label"
                          for="basic-icon-default-fullname"
                          >Lecturer ID</label
                        >
                        <div class="col-sm-10">
                          <div class="input-group input-group-merge">
                            <span
                              id="basic-icon-default-fullname2"
                              class="input-group-text"
                              ><i class="bx bx-user"></i
                            ></span>
                            <input
                              type="text"
                              name="userId"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              placeholder="LEC101"
                              aria-label="LEC101"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].userId) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].userId.msg %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 col-form-label"
                          for="basic-icon-default-fullname"
                          >Name</label
                        >
                        <div class="col-sm-10">
                          <div class="input-group input-group-merge">
                            <span
                              id="basic-icon-default-fullname2"
                              class="input-group-text"
                              ><i class="bx bx-user"></i
                            ></span>
                            <input
                              type="text"
                              name="name"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              placeholder="John Doe"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].name) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].name.msg %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 col-form-label"
                          for="basic-icon-default-email"
                          >Email</label
                        >
                        <div class="col-sm-10">
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"
                              ><i class="bx bx-envelope"></i
                            ></span>
                            <input
                              type="email"
                              name="email"
                              id="basic-icon-default-email"
                              class="form-control"
                              placeholder="john.doe@gmail.com"
                              aria-label="john.doe@gmail.com"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].email) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].email.msg %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 form-label"
                          for="basic-icon-default-phone"
                          >Password</label
                        >
                        <div class="col-sm-10">
                          <div class="input-group input-group-merge">
                            <span
                              id="basic-icon-default-phone2"
                              class="input-group-text"
                              ><i class="bx bx-lock"></i
                            ></span>
                            <input
                              type="password"
                              name="password"
                              id="basic-icon-default-phone"
                              class="form-control phone-mask"
                              placeholder="*********"
                              aria-label="*********"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>

                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].password) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].password.msg
                            %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row mb-5">
                        <label
                          class="col-sm-2 form-label"
                          for="basic-icon-default-phone"
                          >Confirm Password</label
                        >
                        <div class="col-sm-10">
                          <div class="input-group input-group-merge">
                            <span
                              id="basic-icon-default-phone2"
                              class="input-group-text"
                              ><i class="bx bx-lock"></i
                            ></span>
                            <input
                              type="password"
                              name="confirmPassword"
                              id="basic-icon-default-phone"
                              class="form-control phone-mask"
                              placeholder="*********"
                              aria-label="*********"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>
                          <% if (locals.messages.errors) { %> <% if
                          (locals.messages.errors[0].confirmPassword) { %>
                          <label class="error"
                            ><%= locals.messages.errors[0].confirmPassword.msg
                            %></label
                          >
                          <% } } %>
                        </div>
                      </div>
                      <div class="row justify-content-end">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <%- include("../../../partials/footer") %>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <%- include("../../../partials/script") %>
  </body>
</html>
